<!DOCTYPE html>
<html lang="en">

<head>
  <title>Wild Kards</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3" style="margin-top: 30px; margin-bottom: 20px;">
        <blockquote class="blockquote text-center">
          <h5 class="mb-0">{{quote.body}}</h5>
          <h4>
            <footer class="blockquote-footer" style="margin-top: 30px;"><cite title="Source Title">{{quote.author}}
          </h4>
          </cite></footer>
        </blockquote>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form id="comForm">
          <div class="form-group">
            <textarea placeholder="Write your comment here!" class="form-control" rows="3" id="com"
              data-id="{{quote.id}}"></textarea>
          </div>
            <button type="submit" id="commentBtn" class="btn btn-success submit">Comment</button>
        </form>
      </div>
    </div>
    <div class="row">
        {{#if comments}}
        <div class="col-md-6 offset-md-3 w-75 p-3 cmtBox"
          style="background-color: white; margin-top: 70px; padding-right: 50px; border: 2px solid gray; margin-bottom: 20px;">
        <h5 style="font-weight: bold; margin-bottom: 20px;">Comments:</h3>
        {{#each comments}}
        <div class="col-md-12 col-md-offset-1" style="margin-bottom: 20px;">
          <span>{{formatDate createdAt}}</span>
          <h5 style="font-weight: bold;">{{ this.User.email }}: </h5>
          <h6> {{ comment }} </h6>
        </div>
        {{/each}}
      </div>
      {{else}}
      <div class="col-md-6 offset-md-3 w-75 p-3 cmtBox"
      style="background-color: white; margin-top: 70px; padding-right: 50px; border: 2px solid gray; margin-bottom: 20px;">
        <div class="col-md-12 col-md-offset-1" style="text-align: center;">
          <h6>No Comments yet!</h6>
        </div>
      </div>
      {{/if}}
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/comment.js"></script>